@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --grey: #8696a0;
  --grey1: #8696a0; /* kalo mode terang ga ilang */
  --white: #e9edef;
  --bgdark: #202c33;
  --pudar: #8696a0; /* biar bisa atur dark mode */
  --green: #00a884;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nama {
  border: none;
  background-color: transparent;
  width: 50%;
}


header {
  background-color: var(--bgdark);
  width: 100%;
  padding: 10px;
  padding-top: 16px;
  font-family: "Roboto", sans-serif;
}

#myTab {
  display: flex;
  position: sticky;
  border: none;
  width: 100%;
  background-color: var(--bgdark);
  font-size: 1em;
  justify-content: space-between;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  z-index: 100;
  font-weight: 450;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.222);
}

.penutup-garis {
  background-color: var(--bgdark);
}

#com-tab,
#chat-tab,
#status-tab,
#panggilan-tab {
  background-color: transparent;
  color: var(--pudar);
  border: none;
  padding-bottom: 0.5em;
}

#panggilan-tab {
  right: 0;
  position: absolute;
}

#com-tab {
  position: relative;
  top: 2.4%;
  right: 15%;
  padding-bottom: 0.2em;
}


#chat-tab {
  padding-right: 1.7em;
  padding-left: 1.4em;
  position: absolute;
  left: 12%;
}

#status-tab {
  padding-right: 1.4em;
  padding-left: 1.4em;
  margin-left: 4%;
  position: absolute;
  left: 40%;
}

#user {
  font-size: 1em;
}

.search {
  position: absolute;
  right: 13.9%;
}

.camera {
  position: absolute;
  right: 27%;
}

.ellipsis {
  position: absolute;
  right: 0.1%;
  top: -0.7em;
  font-size: 1.2em;
}

.judul {
  font-size: 1.29em;
  margin-left: 1.3%;
  font-weight: 500;
  color: var(--grey);
  background: none;
  border: none;
  width: 50%;
}

.judul::placeholder {
  color: var(--grey);
}

ion-icon {
  color: var(--grey);
  font-size: 1.5em;
}

table {
  color: white;
  margin-top: 5%;
  margin-bottom: 7.4%;
}

.nama {
  color: var(--white);
  font-size: 1.1em;
  margin-left: 0.18em;
  width: 80%;
  font-weight: 445;
}

input::placeholder {
  color: var(--white);
}

.jam::placeholder {
  color: var(--grey1);
}

#jam_chat3::placeholder {
  color: #00a884;
}

#jam_chat3 {
  color: #00a884;
}

.jam {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 20%;
  text-align: right;
  right: 4.9%;
  color: var(--grey1);
  margin-top: -2.4%;
  font-size: 12px;
}

.bg-profile {
  width: 45px;
  height: 45px;
  margin-left: 0.95em;
  border-radius: 50%;
  margin-right: 0.8em;
}

.pesan::placeholder {
  color: var(--grey1);
}

.pesan {
  background-color: transparent;
  border: none;
  color: var(--grey1);
  width: 86%;
  font-size: 1em;
  font-weight: 400;
}

#pesan-status {
  font-size: 0.9em;
  width: 100%;
  margin-left: 1.2%;
}

.bawah-status {
  margin-left: 4.6%;
  margin-top: -3%;
  color: var(--grey1);
  font-weight: 410;
  font-size: 0.9em;
}

#sw-status {
  border: 2px solid #00a884;
  padding: 0.1em;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

#sw-status-dilihat {
  border: 2px solid #667781;
  padding: 0.1em;
  height: 55px;
  width: 55px;
}

.ceklis2 {
  width: 21.5px;
  height: 22.5px;
  margin-left: 0.2em;
}

.modal-tittle {
  color: black;
}

.button-modal {
  background: transparent;
  border: none;
}

.checkb-modal,
.check1-modal {
  width: 40px;
  height: 40px;
}

.modal-body input {
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#badgespan,#badgespan-chat {
  font-size: 0.74em;
  padding-left: 0.57em;
  padding-right: 0.57em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50%;
  font-weight: 600;
  margin-top: -3.5%;
}

.display-badge{
  background: none;
  border: none;
  color: white;
  width: 2em;
 font-size: 0.74em;
}


.badgeChat {
  background-color: #00a884;
  color: var(--bgdark);
  position: absolute;
  right: 5.5%;
}

.comunity-img {
  margin-top: 10%;
}

.comunity-h6 {
  color: #85959f;
  font-weight: 410;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 1.5em;
}

.comunity-h4 {
  color: var(--white);
  margin-top: 8%;
}

.comunity-button {
  background-color: #00a884;
  margin-top: 5%;
  border: none;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5em;
  font-weight: 410;
}

#panggilan-img {
  width: 56px;
  height: 56px;
  margin-left: 0.8em;
}

#tautan-text {
  font-size: 1em;
  position: relative;
  top: 4.15px;
  padding-top: 2px;
  padding-bottom: 2px;
}



.bulet-bawah {
  width: 55px;
  height: 55px;
  right: 5%;
  bottom: 2.5%;
  border-radius: 50%;
  position: fixed;
  background-color: #00a884;              
}

#bulet1 {
  background-image: url("img/chat.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#bulet2 {
  background-image: url("img/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#bulet3 {
  background: #233138;
  background-image: url("img/pen.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2em;
  bottom: 12.7%;
  right: 6.8%;
  width: 45px;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.geserin-phone {
  position: absolute;
  right: 5%;
  margin-top: 0.7em;
}

#phone {
  color: #00a884;
  position: relative;
  font-size: 1.2em;
}

#dm,
#dmul {
  color: #ffffff;
  background-color: #233138;
  line-height: 2.4em;
  position: relative;
  top: -2em;
}

#dmul {
  background-color: 233138;
  border: none;
}

.badge-atas {
  position: relative;
  top: -2px;
  left: 2px;
}

.call-plus {
  position: absolute;
  right: 0.5%;
  bottom: 0.5%;
  border-radius: 100%;
}

.arrow {
  border: none;
  background: none;
  margin-left: 2%;
  margin-right: 1%;
}

/* Container for status */
.status-container,
.status-container1 {
  display: none;
  background-color: black;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.bg_status {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content of the status */
.status-content {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#open-status {
  background: none;
  border: none;
}

.loading-status-bg {
  width: 96%;
  height: 0.3%;
  border-radius: 1em;
  background: grey;
  margin-left: 2%;
  position: absolute;
  top: 1%;
}
.loading-status {
  width: 96%;
  height: 0.3%;
  border-radius: 1em;
  background: #686868;
  margin-left: 2%;
  position: absolute;
  top: 1%;
  animation: status 5s linear infinite;
  z-index: 1;
}

@keyframes status {
  0% {
    background-color: white;
    width: 1%;
  }
  100% {
    background-color: white;
    width: 96%;
  }
}

.arrow-left {
  width: 2em;
  height: 2em;
  position: absolute;
  left: 3%;
  top: 3.5%;
}

#dalam_status,
#dalam_status1 {
  border: 2px solid white;
  position: absolute;
  left: 9%;
  top: 2.7%;
  padding: 0;
}

#nama-dalam-status {
  width: 50%;
  position: absolute;
  top: 2.5%;
  left: 27.3%;
}

#nama-dalam-status::placeholder {
  color: white;
}

#pesan-dalam-status {
  color: white;
  width: 50%;
  position: absolute;
  top: 6%;
  left: 28%;
}

#pesan-dalam-status::placeholder {
  color: white;
}

.status-elipsis {
  color: white;
  position: absolute;
  right: 5%;
  top: 4.5%;
  font-size: 1.3em;
}

.bawah-dalam-status {
  color: white;
  position: relative;
  top: 79%;
  font-size: 0.9em;
  font-weight: 380;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 20%;
  padding-top: 3%;
}

.view_bawah {
  position: absolute;
  bottom: 0;
  left: 61%;
  transform: translate(-50%, -50%);
}

.view_total {
  position: relative;
  top: 0.2em;
  left: 0.3em;
  background: none;
  width: 15%;
  border: none;
  color: white;
}

.view_total::placeholder {
  color: white;
}

.pesan-bawah-status {
  font-size: 1.3em;
  z-index: 10000;
}

#angle-up {
  position: relative;
  top: 0.4em;
  margin-top: 3%;
}

.bulet-plus {
  position: relative;
  cursor: pointer;
  right: 140%;
  top: 2em;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  border: 2px solid var(--bgdark);
}

#toggleFullscreen {
  background: none;
  border: none;
  color: white;
}

.inputstatus {
  background-color: whitesmoke;
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 3pt;
}

.Wclone,.fitur,.fitur-list{
  display: none;
}

.versi-1 {
  display: none;
}

.none,.penutup{
  display: none;
}

@media only screen and (min-width: 768px) {
  .handphone {
    position: relative;
    height: 89vh;
    width: 25%;
    border: 10px solid #132932;
    border-radius: 20pt;
    margin: auto;
    margin-top: 2.7%;
    box-shadow: #20bdff 0px 1px 2px 0px, #20bdff 0px 1px 3px 1px;
  }

  .penutup {
    display: block;
    position: absolute;
    width: 0.57em;
    height: 9%;
    left: -2.528%;
    top: 15%;
    z-index: 1000;
    background-color: #132932;
  }

  header {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top: 1.5em solid #202c333b;
  }

  #penutup-garis {
    border-radius: 15pt;
    background-color: var(--bgdark);
  }

  .tombol-power,
  .volume-up,
  .volume-down {
    height: 0.5vh;
    width: 3%;
    background-color: #20bdff;
    position: absolute;
    top: 25%;
    right: 35.77%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    rotate: 90deg;
    z-index: 1;
  }

  .volume-up {
    right: 61.2%;
    rotate: 270deg;
    top: 28%;
  }

  .volume-down {
    right: 61.2%;
    rotate: 270deg;
    top: 35%;
  }

  .status-container,
  .status-container1 {
    height: 87vh;
    width: 24%;
    border-radius: 20pt;
    margin-left: 38%;
    margin-top: 3.2%;
  }

  .bawah-dalam-status {
    top: 69.3%;
    height: 12%;
    border-bottom-left-radius: 20pt;
    border-bottom-right-radius: 20pt;
  }


.loading-status {
  margin-top: 0.1em;
  margin-left: 1.2em;
  border-radius: 40pt;
  width: 90%;
  animation: status 5s linear infinite;
  z-index: 1;
}

@keyframes status {
  0% {
    background-color: white;
    width: 1%;
  }
  100% {
    background-color: white;
    width: 90%;
  }
}

.loading-status-bg{
  margin-top: 0.1em;
  border-radius: 40pt;
  width: 90%;
  margin-left: 1.2em;
}

  table:nth-child(8) {
    display: none;
  }
  table:nth-child(9) {
    display: none;
  }
  table:nth-child(10) {
    display: none;
  }

  .Wclone {
    color: var(--white);
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    text-shadow: 
    0 0 10px azure,
    0 0 20px aqua,
    0 0 40px dodgerblue,
    0 0 80px blue;
  }

  .bulet-bawah {
    position: absolute;
  }

  .fitur,.fitur-list {
   color: var(--white);
   display: block;
   position: absolute;
   top: 30%;
   left:5%;
   text-shadow: 
   0 0 2px white,
   0 0 2px aqua,
   0 0 2px dodgerblue,
   0 0 3px blue;
  }

  .fitur {
    top: 25%;
  }
  
  #com-tab {

    margin-left: 0%;
  }
  body {
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .versi-1 {
    display: block;
    position: absolute;
   bottom: 1%;
   right: 1%;
   color: aliceblue;
  }

.none {
  display: block;
}

.kecepatan-internet {
  color: white;
  position: absolute;
  right: 43.6%;
  font-size: 0.75em;
  top: 7%;
}

.wifi {
  background: url("img-wifi/wifi-1.svg") no-repeat;
  width: 50px;
  height: 50px;
  animation: berubah 2s infinite;
  transition: none;
  position: absolute;
  top: 7%;
  font-size: 10px;
  right: 38.8%;
}

@keyframes berubah {
  0% {
    background: url("img-wifi/wifi-2.svg") no-repeat;
  }
  50% {
    background: url("img-wifi/wifi-1.svg") no-repeat;
  }
  100% {
    background: url("img-wifi/wifi.svg") no-repeat;
  }
}

.signal {
  background: url("signal-svg/signal5.svg") no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 7.4%;
  right: 39.8%;
  animation: signal 5s infinite;
  transition: none;
}

@keyframes signal {
  0% {
    background: url("signal-svg/signal5.svg") no-repeat;
  }
  50% {
    background: url("signal-svg/signal4.svg") no-repeat;
  }
  100% {
    background: url("signal-svg/signal3.svg") no-repeat;
}
}

.batre {
  border: 1px solid white;
  background: rgba(75, 76, 89, 0.48);
  border-radius: 5em;
  font-size: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  position: absolute;
  top: 7.5%;
  right: 39%;
  color: white;
}

#jam {
  color: white;
  position: absolute;
  top: 7%;
  right: 59%;
  font-size: 0.8em;
}

.bg_status{
  height: 88vh;
}

}

